data
apache-zookeeper-3.6.1-bin_1
apache-zookeeper-3.6.1-bin_2
apache-zookeeper-3.6.1-bin_3
apache-zookeeper-3.5.8-bin_1
apache-zookeeper-3.5.8-bin_2
apache-zookeeper-3.5.8-bin_3
kafka_2.13-2.6.0_1
kafka_2.13-2.6.0_2
kafka_2.13-2.6.0_3
source tar
.DS_Store